/.env
/.idea
/.lock
/.log
/.vagrant
/node_modules
/public/css
/public/downloads
/public/fonts
/public/hot
/public/images
/public/js
/public/media
/public/storage
/storage/*.key
/tests
/vendor
/_ide_helper.php
Homestead.json
Homestead.yaml
p.php