<div class="form-group">
    <label for="link">Path or URL</label>
    <input class="form-control" type="text" name="link" id="link" placeholder="http://">
</div>

<div class="form-group">
	<label for="title">Title</label>
	<input class="form-control" type="text" name="title" id="title">
</div>

<div class="form-group">
    <label for="placeholder">Text</label>
    <input class="form-control" type="text" name="placeholder" id="placeholder">
</div>

<div class="checkbox">
    <label><input type="radio" name="target" value=""> Same window</label>
	<label><input type="radio" name="target" value="_blank" checked> New window</label>
</div>
